# Dependencies
node_modules/

# Environment Variables
.env

# Build Output
dist/

# Uploads
uploads/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# Editor Files
.vscode/
.idea/

# Cache
.cache/